body{
  font-family: 'Montserrat';
  text-align: center;
  background-color: #07000c;
  border: 60px solid #08b6d1;
  border-top: 0px;
  margin: auto;

}
h1{
  color: white;
  text-align: center;
}
h2{
  color: white;
  
  text-align: center;
}
